{% extends 'app/base.html' %}
{% load static %}

{% block title %}protein{% endblock title %}
{% block main-content %}


<div style="display: inline-flex;">
    <div>
        <img src="{% static 'app/images/product/Calcium.jpeg' %}" width="800px" height="500px" alt="Calcium">
    </div>
    <div style="background-color: gray; padding-left: 5px; padding-top: 60px;">
        <h3 style="text-align: center;">Calcium</h3>
        <p>
            Calcium is vital for maintaining healthy bones and teeth, nerve signaling, and muscle function. Dairy products like milk, cheese, and yogurt are excellent sources of calcium, ensuring your body gets the strength it needs to thrive. 
            <br><br>
            Fortify your bones and smile confidently with calcium-rich dairy products!
        </p>
    </div>
</div>















{% endblock main-content %}