
section class="forgot-password-section">  
    <div class="container">  
    <div class="row justify-content-center">  
    <div class="col-md-6 col-lg-4">  
    <form class="forgot-password-form shadow p-4 rounded" method="POST"> {% 
csrf_token %}  
    {% if messages %}  
    {% for message in messages %}  
    <div class="alert {{ message.tags }}">  
    {{ message }}  
    </div>  
    {% endfor %}  
    {% endif %}  
    <h3 class="text-center">Forgot Password</h3>  
    <div class="form-group mb-3">  
    <label for="email">Enter your registered email:</label>  
    <input type="email" class="form-control" name="email" id="email" required> 
</div>  
    <input type="submit" class="btn btn-warning w-100 mt-2" value="Reset 
           Password"> </form>  
    </div>  
    </div>  
    </div>  
    </section> 