{% extends 'app/base.html' %}
{% load static %}

{% block title %}protein{% endblock title %}
{% block main-content %}



<div style="display: inline-flex;">
    <div>
        <img src="{% static 'app/images/product/gut-health.jpeg' %}" width="800px" height="500px" alt="Gut Health">
    </div>
    <div style="background-color: gray; padding-left: 5px; padding-top: 60px;">
        <h3 style="text-align: center;">Gut Health</h3>
        <p>
            A healthy gut is the foundation of a healthy body. Dairy products like yogurt and kefir contain probiotics, which support digestion and improve the balance of gut bacteria. These "good bacteria" promote nutrient absorption and bolster your immune system. 
            <br><br>
            Enhance your digestion and overall wellness with dairy that supports gut health!
        </p>
    </div>
</div>












{% endblock main-content %}