{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Result{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h3>Search Results for "{{ query }}"</h3>
    <div class="row">
        {% if product %}
            {% for prod in product %}
                <div class="col-sm-4 text-center mb-4 hover-shadow">
                    <a href="{% url 'product-detail' prod.id %}" class="btn">
                        <img src="{{ prod.product_image.url }}" width="300px" height="200px" />
                        <div class="fw-bold">{{ prod.title }}</div>
                        <div class="fw-bold text-danger">
                            Rs {{ prod.discounted_price }}/-
                            <small class="fw-light text-decoration-line-through">{{ prod.selling_price }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-danger">No products match your search for "{{ query }}".</p>
        {% endif %}
    </div>
</div>


{% endblock main-content %}
