{% extends 'app/base.html' %}
{% load static %}

{% block title %}protein{% endblock title %}
{% block main-content %}


<div style="display: inline-flex;">
    <div>
        <img src="{% static 'app/images/product/Vitamin-D.jpeg' %}" width="800px" height="500px" alt="Vitamin D">
    </div>
    <div style="background-color: gray; padding-left: 5px; padding-top: 60px;">
        <h3 style="text-align: center;">Vitamin D</h3>
        <p>
            Vitamin D is crucial for strong bones and teeth, as it helps your body absorb calcium effectively. Dairy products fortified with vitamin D, like milk and yogurt, provide this vital nutrient, supporting bone health and preventing conditions like osteoporosis. 
            <br><br>
            Keep your bones strong and body active with dairy products rich in Vitamin D!
        </p>
    </div>
</div>






















{% endblock main-content %}